@{
    ViewData["Title"] = "ForgotPassword";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth-style.css" asp-append-version="true" />
}

<partial name="Partials/OtherHeroSection" model="false" />

<div class="auth-wrapper">
    <div class="container">
        <div class="login form">            
            <header>Forgot Password</header>
            <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="text" placeholder="Enter your username">
                <input type="button" class="button" value="Request Password"> @* burasi form olarak forgot-post actionunu bağlayacağımız button -t *@
            </form>
            <div class="signup">
                <span class="signup">
                    If you have any problems, please contact us.
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Customer Service</a>
                </span>
            </div>
        </div>
    </div>
</div>