@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth-style.css" asp-append-version="true" />
}

<partial name="Partials/OtherHeroSection" model="false" />

<div class="auth-wrapper">
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="password" placeholder="Enter your password">
                <a asp-area="" asp-controller="Auth" asp-action="ForgotPassword">Forgot password?</a>
                <input type="button" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a asp-area="" asp-controller="Auth" asp-action="Register">Signup</a>
                </span>
            </div>
        </div>
    </div>
</div>