@{
    ViewData["Title"] = "Signup";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth-style.css" asp-append-version="true" />
}

<partial name="Partials/OtherHeroSection" model="false" />

<div class="auth-wrapper">
    <div class="container">
        <div class="login form">            
            <header>Signup</header>
            <form action="#">
                <input type="text" placeholder="Enter your email">
                <input type="password" placeholder="Create a password">
                <input type="password" placeholder="Confirm your password">
                <input type="button" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <a asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                </span>
            </div>
        </div>
    </div>
</div>